{% extends 'services_app/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container px-5">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-2">Acceder</legend>
					<div class="pb-2 my-2">
						<p>¿Necesitas una cuenta?<a class="ml-4 text-decoration-none" href="{% url 'register' %}">
							<button class="btn btn-primary btn-sm">Crea tu cuenta ahora</button></a>
						</p>
					</div>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Iniciar sesión</button>
				</div>
				{% for message in messages %}
					<p class="py-2 my-2">{{message}}</p>
				{% endfor %}
			</form>
		</div>
	</div>
{% endblock content %}